@font-face{
	font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
}

body{
	font-family: roboto-condensed, Helvetica, Arial;
	display: block;
	margin: 0;
	background-color: #fffef9;
	/*background-color:rgba(255,253,208,0.1);*/
}

p{
	line-height: 1.75;
}

header{}

h1{
	text-align: center;
	color:#443e3c;
	text-transform: lowercase;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 36px;
}

#headerdesc{
	text-transform: lowercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0px;
	color: #696462;
	font-family: roboto-condensed, Helvetica, Arial;
	padding-bottom: 10px;
	padding-right: 0;
}

.active{
	text-decoration:underline;
}

nav a{
	display:block;
	text-transform:lowercase;
	text-decoration:none;
	color:#443e3c;
	font-size:1.25em;
	padding:2.3%;
	padding-bottom:0.65rem;
	transition:.5s color;
	padding-left:12%;

}
nav{
	display:inline-block;
	height:100vh;
	overflow:auto;
	width:20%;
	box-sizing: border-box;
	/*background-color:#eeeceb;*/
	background-color: #fffef9;
	/*background-image:linear-gradient(to right,#eeeceb,rgba(184,184,184,0.6));*/
	padding-top:2%;
	border-radius:2.5px;
	position:fixed;
}

nav a:hover{
	/*color: white;*/
	color: #866F4B;
	text-decoration: none;
	/*color: #D40202;*/
}


main{
	font-size:1.25em;
	/*padding-left: 22%;*/
	padding-left: 20%;
	line-height: 190%;
}

p,li{
	padding-right:16%;
}


.btn{
  background: #2C4461;
  /*background-image: -webkit-linear-gradient(top, #2C4461, #2C4461);
  background-image: -moz-linear-gradient(top, #2C4461, #2C4461);
  background-image: -ms-linear-gradient(top, #2C4461, #2C4461);
  background-image: -o-linear-gradient(top, #2C4461, #2C4461);
  background-image: linear-gradient(to bottom, #2C4461, #2C4461);*/
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-weight: bolder;
  color: #fafafa;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 0.8em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: #446a97;
  color: #fafafa;
  text-decoration: none;
}

.btn-link:link, .btn-link:visited, .btn-link:hover, .btn-link:active {
  text-decoration: none;
  color: #fafafa;
  font-weight: bolder;
  font-size: 1.17em;
}

.btn-div{
	text-align: center;
}

/*subnav*/

#rc_logo {
 left: 30px;
 padding: 22px;
 position: absolute;
 color: #443e3c;
 font-size: 19px;
 font-family: ;
 text-decoration: none;
}

#rc_logo a {
color: inherit;
text-decoration: none;
}

.rc_nav {
  overflow: hidden;
  background-color: ;
  text-align: center;
  z-index: 6;
}

.rc_nav a {
 display: inline-block;
 margin-right: -4px;  /* inline-block gap fix */
 color: #443e3c;
 padding: 22px 22px;
 text-decoration: none;
 font-family: ;
 font-size: 20px;
 -webkit-transition: background 0.3s linear;
 -moz-transition: background 0.3s linear;
 -ms-transition: background 0.3s linear;
 -o-transition: background 0.3s linear;
 transition: background 0.3s linear;
 z-index: 9;
}

.rc_nav a:hover {
  background-color: #575b69;
  color: #fff;
}

.rc_nav .icon {
  display: none;
}

.rc_content {
  text-align: center;
  padding-left:12px;
  font-family: Poppins;
  margin-top: 100px;
  color: #8e909b;
}

.my-role{
	margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .rc_nav a {display: none;}
  .rc_nav a.icon {
    float: right;
    display: block;
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  /*.rc_nav.responsive {position: fixed; top: 73px;}
  .rc_nav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }*/
  .rc_nav a {
    float: none;
    display: block;
    text-align: center;
  }

}

@media screen and (min-width: 768.00000001px){
.rc_nav a {
	width: 20%;
}
}

/*end subnav*/

/*highlight 1
:root {
  --highlight-vstart: 0.2em;
  --highlight-vend: 1.2em;
  --highlight-color: #ffdab9;
  --highlight-range: 100%;
}

.highlight {
  mix-blend-mode: multiply;
  background:
    linear-gradient(to bottom,
      white,
      white var(--highlight-vstart),
      transparent var(--highlight-vstart),
      transparent var(--highlight-vend),
      white var(--highlight-vend),
      white),


    linear-gradient(to right,
      var(--highlight-color),
      var(--highlight-color) var(--highlight-range),
      white var(--highlight-range),
      white)
  ;
}
*/

/*.highlight1{
    background-size: 200% auto;
    background-image: linear-gradient(to right,#fff 50%,#ffdab9 50%);
    background-position: 0% 0;

    animation-name: highlight;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}
*/

/*highlight animation*/


.highlight{
    background-size: 200% auto;
    background-image: linear-gradient(to right,#fff 50%,#ffdab9 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight.active1{
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}
/*end highlight animation*/

.nopaddingright{
	padding-right:0;
}

.nopadding{
	padding: 0;
}

#nopad{
	padding:0;
}

.site-footer{
	position:fixed;
	bottom:0;
	padding-left:none;
	padding-bottom:1.1%;
	max-width:17%;
}

.about-me{
	font-size:1.25em;
	/*padding-left:22%;*/
	padding-left:20%;
}

.music{
	font-size:1.25em;
	/*padding-left:22%;*/
	padding-left:20%;
	text-decoration:none;
	color:#443e3c;
}

i{
	display:inline-block;
	vertical-align: bottom;
}

h2{
	padding-top:1.15%;
	text-align: left;
	color:#443e3c;
	font-family: 'Archivo', sans-serif;
	font-size: 28px;
	padding-right: 16%;
}

h3{
	color:#443e3c;
	font-family: 'Archivo', sans-serif;
	font-size: 24px;
	padding-right: 16%;
}

p, li{
	color: #443e3c;
	padding-right: 16%;
}

.projects{
	font-size:1.25em;
	/*padding-left:22%;*/
	padding-left:20%;
	padding-top: 0;
}

.proj-header{
	color:#443e3c;
	font-family: roboto-condensed, Helvetica, Arial;
	padding-right: 0;
}

.proj-summary{
	color:#443e3c;
	opacity:0.9;
	font-size: 1em;
}

.contact-info{
	font-size:1.25em;
	/*padding-left:22%;*/
	padding-left:20%;
	padding-top: 0;

}

#pw{
	text-decoration: none;
	color:#443e3c;
}

.fa-linkedin{
	text-decoration:none;
	/*color:#4875B4;*/
	color: #443e3c;
	padding-left: 12%;
}

.fa-soundcloud{
	color:#FE5000;
	padding-left: 12%;
}

.fa-envelope{
	color:#D44638;
	text-decoration:none;
}

#env1{
	color:#443e3c;
	text-decoration:none;
	padding-left:11.5%;
}

li a{
	text-decoration: none;
	color:black;
}
#contact_list{
	list-style-type: circle;
	padding, margin:none;
}

#contact_list a{
	text-decoration: none;
}

.vacant{
	width:95%;
	/*padding-left:22%;*/
	padding-left:20%;
	padding-top:2%;
}

small{
	/*text-transform: capitalize;*/
	text-decoration:none;
	color:black;
	display:inline-block;
	padding-left: 2.85rem;
}

#project_list{
	padding, margin:none;
	list-style-type: circle;
}

#dmlabapp{
	text-transform: capitalize;
}

#vbm-title{
	text-transform: capitalize;
}

.vbm-cap{
	text-transform: uppercase;
}
#products1,#products2,#products3{
	width:80%;
}

#vbm-homepage-updates{
	width: 65%;
}

#fmas-user-journey-map, #fmas-key-mockups-1, #fmas-key-mockups-2, #fmas-proto-2, #fmas-ob-sh{
	width:85%;
}

#dom-ux-analysis{
	height: 80vh;
	width:70%;
}

#dom-note-link{
	color: #007bff;
}

#sunset{
	padding-left:20.0%;

}

.img-fluid{
	min-width:100%;
}

#pi, #rj{
	text-transform: uppercase;
}

#dr{
	text-transform: capitalize;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    width:90%;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-transform: none;
}

#workexp li{
	font-size: 20px;
}

#slide-caption{
	color:black;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.main-heading{
	font-weight: bold;
	text-align: center;
	display: block;
	background-color: #fffef9;
	padding: 20px;
	font-family: roboto-condensed, Helvetica, Arial;
}

#saa1, #saa2, #saa3, #saa4, #saa5, #saa6, #saa7, #saa8, #dom1, #dom2, #dom3, #dom4, #fmas1, #fmas2, #fmas3, #fmas4, #fmas5, #vbm1, #vbm2, #vbm3, #tcare1,#tcare2,#tcare3,#tcare4 {
	/*position: sticky;*/
	/*z-index: 10;*/
	top: 0;
}

/*image magnifier*/

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 2px solid #443e3c;
  border-radius: 10%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 100px;
}

#caption-like{
	text-align: center;
	padding-left: 18%;
}

#caption-like1{
	text-align:center;
	padding-left:18%;
}

#vbm-mockup{
	width:75%;
}
#vbm-sitemap-img{
	width:75%;
}
#vbm-prototype-pathways-img{
	width:85%;
}

/*end of image magnifier*/

/*social menu for contact page only*/
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0 auto;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 30px;
    line-height: 60px;
    transition: .4s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.4s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    text-decoration:none;
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #4875B4;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #D44638;
}

.socialtext{
	display:none;
}

/*end of social menu*/

#weblink{
	color:black;
	text-decoration:underline;
}

/*all centered images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
/*all centered images*/

/*dmlab*/

#dmlab{
	text-transform: capitalize;
}

#dmlabiphone{
	width:300px;
}

figcaption{
	text-align:center;
}

#finishedsitemap, #roughinteractionmap, #wireframemap, #persona{
	width:75%;
	margin-left:12%;
}

#contentmap1{
	width:35%;
	margin-left:10%;
}
#contentmap2{
	width:40%;
	margin-left:5%;
}
#wireframe1{
	width:25%;
	margin-left:5%;
}
#wireframe2{
	width:25%;
	margin-left:7%;
}
#wireframe3{
	width:25%;
	margin-left:7%;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:95%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*dmlab*/

/*button for scroll to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px 4px 4px 4px; /* some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  opacity:0.9;
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}

#proto-button{
	margin:0 auto;
	display:block;
	border-radius:10px;
	border:none;
	padding: 8px;
}

#view-project-button{
	margin:0 auto;
	display:block;
	border-radius:12px;
	border:none;
	font-size:1.17em;
	font-weight: bolder;
	padding: 8px;
}

/*card deck*/

/*@media screen and (min-width:600px){
.card-deck{
padding-left:18%;
}
}

.card{
	box-shadow:
  0 1.4px 2.2px rgba(0, 0, 0, 0.02),
  0 3.3px 5.3px rgba(0, 0, 0, 0.028),
  0 6.3px 10px rgba(0, 0, 0, 0.035),
  0 11.2px 17.9px rgba(0, 0, 0, 0.042),
  0 20.9px 33.4px rgba(0, 0, 0, 0.05),
  0 50px 80px rgba(0, 0, 0, 0.07)
;
}*/

/*portfolio gallery*/
.gallery {
  box-sizing: border-box;
  background-color: rgba(255,253,208,0.1);
  padding: 20px;
  /*padding-left:22%;*/
  padding-left:20%;
  padding-top:0; /*Note: this line might be an issue when more projects are added*/
}

/* Center website*/

.gallery h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other (change to three instead later)*/
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #f5f5f5; /*whitesmoke*/
  padding: 10px;
  border-radius: 10px;
  box-shadow:
  0 1.4px 2.2px rgba(0, 0, 0, 0.02),
  0 3.3px 5.3px rgba(0, 0, 0, 0.028),
  0 6.3px 10px rgba(0, 0, 0, 0.035),
  0 11.2px 17.9px rgba(0, 0, 0, 0.042),
  0 20.9px 33.4px rgba(0, 0, 0, 0.05),
  0 50px 80px rgba(0, 0, 0, 0.07)
;
}

/* Grow */
@media screen and (min-width: 600px){
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
}
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }

  small{
  	padding-left:1.5rem; /*padding for copyright text (tablet view)*/
  }
}


@media screen and (min-width: 900px) and (max-width: 1399px){
	small{
		padding-left: 20%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px){
  .column {
    width: 100%;
  }
 .gallery{
 	padding-left:5%;
  }

}
/* end of gallery */

#add-synth{
	width:85%;
}

#fmas-persona1,#fmas-persona2,#fmas-persona3,#fmas-persona4, #fmas-mockup-contrast-check, #fmas-main-mockup{
	width:60%;
}

#fmas-storyboard, #fmas-crazy-eights, #fmas-sitemap, #fmas-digital-wireframes, #fmas-early-low-fidelity-prototype, #fmas-affinity-diagram, #fmas-uxr, #fmas-revised-wireframes, #fmas-ca{
	width:75%;
}

#fmas-wireframe1, #fmas-wireframe2, #fmas-wireframe3, #fmas-wireframe4 {
	width:75%;
}

#dom-img{
	width:75%;
}

#dom-img1{
	width:45%;
}

#dom-img2{
	width: 60%;
}

#dom-img3{
	width: 25%;
}

#dom-img4{
	width: 85%;
}

#saathi-img{
	width:75%;
}

#saathi-img-mag{
	width: 95%;
}

#saathi-img-mag-2{
	width: 95%;
}

#saathi-img-mag-3{
	width: 95%;
}

#img-zoom{
	width: 85%;
}

#saathi-img1{
	width:85%
}

#saathi-img3{
	width:60%;
}

#tcare-img{
	width: 75%;
}

#tcare-img2{
	width: 85%;
}

#tcare-img3{
	width: 90%;
}

#tcare-img4{
	width: 30%;
}

#tcare-img5{
	width: 60%;
}

#ds-img{
	width: 75%;
}

#ds-img2{
	width: 85%;
}

#ds-img3{
	width: 60%;
}

/* for mobile devices */
@media screen and (max-width:600px){
	nav a{
	display:inline-block;
	text-transform: lowercase;
	text-decoration:none;
	color:#443e3c;
	line-height:0.5em;
	font-size:1.25em;
	padding:1%;
	transition:.5s color;
 }

 h2,h3{
 	padding-right: 0;
 }

nav{
	width:100vw;
	overflow:auto;
	/*background-color: #eeeceb;*/
	/*background-image:linear-gradient(to bottom,#eeeceb,rgba(184,184,184,0.6));*/
	height:7.0%;
	border: 0.1px #443e3c;
  border-style: none none solid none;
	position: absolute;
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items:center;
	flex-wrap:wrap;
 }

h2{
	padding-top:16%;
 }

main,.about-me,.music,.projects,.contact-info,.vacant,#sunset,#workexp{
	padding-left:0;
 }

.vacant{
	padding:none;
	width:100%
 }

h2,h3,h4{
	text-align:center;
	color: #443e3c;
 }

p{
	padding:4%;
 }

#caption-like{
	padding-left: 0%;
}

#caption-like1{
	padding-left:0%;
}

 #xdprototype{
 	margin-left:0;
 }

.site-footer{
	display:none;
 }

 /*image magnifier*/

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 2px solid #443e3c;
  border-radius: 10%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 100px;
}

/*image magnifier*/

/*reponsive images

/*for saathi and tcare
#tcare-img, #tcare-img2, #tcare-img5, #saathi-img, #saathi-img1, #saathi-img3{
	height: auto;
	min-width: 98%;
}*/

/*for fmas
#fmas-persona1,#fmas-persona2,#fmas-persona3,#fmas-persona4, #fmas-mockup-contrast-check, #fmas-user-journey-map, #fmas-key-mockups-1, #fmas-key-mockups-2, #fmas-proto-2, #fmas-ob-sh, #fmas-storyboard, #fmas-crazy-eights, #fmas-sitemap, #fmas-digital-wireframes, #fmas-early-low-fidelity-prototype, #fmas-affinity-diagram, #fmas-uxr, #fmas-revised-wireframes, #fmas-ca, #fmas-wireframe1, #fmas-wireframe2, #fmas-wireframe3, #fmas-wireframe4 {
	height: auto;
	min-width: 98%;
}*/

/*for dom
#dom-ux-analysis, #dom-img, #dom-img2, #dom-img4{
	height: auto;
	min-width: 98%;
}

#dom-img3{
	height: auto;
	min-width: 35%;
}

#dom-img1{
	height: auto;
	min-width: 75%;
}*/

/*for vbm
#vbm-mockup, #vbm-sitemap-img, #vbm-prototype-pathways-img, #products1, #products2, #products3{
	height: auto;
	min-width: 98%;
}

#vbm-homepage1, #vbm-homepage2, #vbm-homepage3, #vbm-wireframe-img, #vbm-ui-layout-img{
	height: auto;
	min-width: 75%;
}*/

}

/*large screens*/

@media screen and (min-width: 1920px) {
	h2, h3, p,li{
		padding-right: 32%;
	}


#caption-like{
	text-align: center;
	padding-left: 32%;
}

#caption-like1{
	text-align:center;
	padding-left:32%;
}

}
/* end */
