@font-face{
	font-family: roboto-condensed,sans-serif;
    font-weight: 300;
    font-style: normal;
}


body{
	font-family: roboto-condensed, Helvetica, Arial;
	line-height: 1.55rem;
	display:block;
	margin:0;
	background-color:rgba(255,253,208,0.1);
	text-transform: lowercase;
}
header{}

h1{
	text-align: center;
	color:#443e3c;
	text-transform: capitalize;
	margin-bottom: 0;
}

#headerdesc{
	text-align: center;
	margin-top: 0;
	color: #56514f;
}


.active{
	text-decoration:underline;
}

nav a{
	display:block;
	text-transform: lowercase;
	text-decoration:none;
	color:#443e3c;
	font-size:1.25em;
	padding:2.3%;
	padding-bottom:0.65rem;
	transition:.5s color;
	padding-left:12%;

}
nav{
	display:inline-block;
	height:100vh;
	overflow:auto;
	width:17%;
	box-sizing: border-box;
	background-image:linear-gradient(to right,#eeeceb,rgba(184,184,184,0.6));
	padding-top:2%;
	border-radius:2.5px;
	position:fixed;
}
nav a:hover{
	color:white;	
}

main{
	
	font-size:1.25em;
	padding-left: 18%;
	line-height: 3rem;
}

p,li{
	padding-right:9.6%;
}

/*highlight 1
:root {
  --highlight-vstart: 0.2em;
  --highlight-vend: 1.2em;
  --highlight-color: #ffdab9;
  --highlight-range: 100%;
}

.highlight {
  mix-blend-mode: multiply;
  background: 
    linear-gradient(to bottom,
      white, 
      white var(--highlight-vstart), 
      transparent var(--highlight-vstart), 
      transparent var(--highlight-vend), 
      white var(--highlight-vend), 
      white),

    
    linear-gradient(to right,
      var(--highlight-color), 
      var(--highlight-color) var(--highlight-range), 
      white var(--highlight-range), 
      white)
  ;
}
*/

/*.highlight1{    
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#ffdab9 50%);
    background-position: 0% 0;

    animation-name: highlight;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}
*/

/*highlight animation*/
.highlight{
    background-size: 200% auto; 
    background-image: linear-gradient(to right,#fff 50%,#ffdab9 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight.active1{
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}
/*end highlight animation*/

.nopaddingright{
	padding-right:0;
}

.nopadding{
	padding: 0;
}

#nopad{
	padding:0;
}

.site-footer{
	position:fixed;
	bottom:0;
	padding-left:none;
	padding-bottom:1.1%;
	max-width:17%;
}

.about-me{
	font-size:1.25em;
	padding-left:18%;
	line-height: 3rem;
}

.music{
	font-size:1.25em;
	padding-left:18%;
	line-height: 3rem;
	text-decoration:none;
	color:#443e3c;
}

i{
	display:inline-block;
	vertical-align: bottom;
}
h2{
	padding-top:1.15%;
	text-align: left;
}
.projects{
	font-size:1.25em;
	padding-left:18%;
	line-height: 3rem;
	padding-top: 0;
}

.proj-header{
	color:#443e3c;
}

.proj-summary{
	color:#443e3c;
	opacity:0.9;
}

.contact-info{
	font-size:1.25em;
	padding-left:18%;
	line-height: 3rem;
	padding-top: 0;
	
}
#pw{
	text-decoration:none;
	color:#443e3c;
}
.fa-linkedin{
	text-decoration:none;
	color:#4875B4;
	padding-left: 12%;
}
.fa-soundcloud{
	color:#FE5000;
	padding-left: 12%;
}
.fa-envelope{
	color:#D44638;
	text-decoration:none;
}

#env1{
	color:#443e3c;
	text-decoration:none;
	padding-left:11.5%;
}

li a{
	text-decoration: none;
	color:black;
}
#contact_list{
	list-style-type: circle;
	padding, margin:none;
}

#contact_list a{
	text-decoration: none;
}

.vacant{
	width:97%;
	padding-left:18%;
	padding-top:2%;
}

small{
	text-transform: capitalize;
	text-decoration:none;
	color:black;
	display:inline-block;
	padding-left:2.2rem;
}

#workexp{
	padding-left: 18%;
}

#project_list{
	padding, margin:none;
	list-style-type: circle;
}

#dmlabapp{
	text-transform: capitalize;
}

#vbm-title{
	text-transform: capitalize;
}

.vbm-cap{
	text-transform: uppercase;
}
#products1,#products2,#products3{
	width:80%;
}

#fmas-user-journey-map, #fmas-key-mockups-1, #fmas-key-mockups-2, #fmas-proto-2{
	width:85%;
}

#dom-ux-analysis{
	height: 80vh;
	width:70%;
}

#sunset{
	padding-left:17.0%;

}

.img-fluid{
	min-width:100%;
}

#pi, #rj{
	text-transform: uppercase;
}

#dr{
	text-transform: capitalize;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    width:90%;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-transform: none;
}

#workexp li{
	font-size: 20px;
}

#slide-caption{
	color:black;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

#caption-like{
	text-align: center;
}

#caption-like1{
	text-align:center;
	padding-left:10%;
}

#vbm-mockup{
	width:75%;
}
#vbm-sitemap-img{
	width:75%;
}
#vbm-prototype-pathways-img{
	width:85%;
}

/*social menu for contact page only*/

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0 auto;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 30px;
    line-height: 60px;
    transition: .4s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.4s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    text-decoration:none;
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #4875B4;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #D44638;
}

.socialtext{
	display:none;
}

/*end of social menu*/

#weblink{
	color:black;
	text-decoration:underline;
}

/*all centered images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
/*all centered images*/

/*dmlab*/

#dmlab{
	text-transform: capitalize;
}

#dmlabiphone{
	width:300px;
}

figcaption{
	text-align:center;
}

#finishedsitemap, #roughinteractionmap, #wireframemap, #persona{
	width:75%;
	margin-left:12%;
}

#contentmap1{
	width:35%;
	margin-left:10%;
}
#contentmap2{
	width:40%;
	margin-left:5%;
}
#wireframe1{
	width:25%;
	margin-left:5%;
}
#wireframe2{
	width:25%;
	margin-left:7%;
}
#wireframe3{
	width:25%;
	margin-left:7%;
}
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*dmlab*/

/*button for scroll to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* no padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  opacity:0.9;
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}

#proto-button{
	margin:0 auto;
	display:block;
	border-radius:10px;
	border:none;
	text-transform: lowercase;
}

#view-project-button{
	margin:0 auto;
	display:block;
	border-radius:10px;
	border:none;
	font-size:1.17em;
	font-weight: bolder;
	text-transform: lowercase;
}

/*card deck*/

/*@media screen and (min-width:600px){
.card-deck{
padding-left:18%;
}
}

.card{
	box-shadow:
  0 1.4px 2.2px rgba(0, 0, 0, 0.02),
  0 3.3px 5.3px rgba(0, 0, 0, 0.028),
  0 6.3px 10px rgba(0, 0, 0, 0.035),
  0 11.2px 17.9px rgba(0, 0, 0, 0.042),
  0 20.9px 33.4px rgba(0, 0, 0, 0.05),
  0 50px 80px rgba(0, 0, 0, 0.07)
;
}*/



/*portfolio gallery*/
.gallery {
  box-sizing: border-box;
  background-color: rgba(255,253,208,0.1);
  padding: 20px;
  padding-left:18%;
  
  padding-top:0; /*Note: this line might be an issue when more projects are added*/
}

/* Center website*/

.gallery h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow:
  0 1.4px 2.2px rgba(0, 0, 0, 0.02),
  0 3.3px 5.3px rgba(0, 0, 0, 0.028),
  0 6.3px 10px rgba(0, 0, 0, 0.035),
  0 11.2px 17.9px rgba(0, 0, 0, 0.042),
  0 20.9px 33.4px rgba(0, 0, 0, 0.05),
  0 50px 80px rgba(0, 0, 0, 0.07)
;
}

/* Grow */
@media screen and (min-width: 600px){
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
}
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }

  small{
  	padding-left:1.6rem; /*padding for copyright text (tablet view)*/
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px){
  .column {
    width: 100%;
  }
 .gallery{
 	padding-left:5%;
  }
 
}
/* end of gallery */

#add-synth{
	width:85%;
}

#fmas-persona1,#fmas-persona2,#fmas-persona3,#fmas-persona4, #fmas-mockup-contrast-check, #fmas-main-mockup{
	width:60%;
}

#fmas-storyboard, #fmas-crazy-eights, #fmas-sitemap, #fmas-digital-wireframes, #fmas-early-low-fidelity-prototype, #fmas-affinity-diagram, #fmas-uxr, #fmas-revised-wireframes, #fmas-ca{
	width:75%;
}

#fmas-wireframe1, #fmas-wireframe2, #fmas-wireframe3, #fmas-wireframe4 {
	width:75%;
}

#dom-img{
	width:75%;
}

#dom-img1{
	width:45%;
}

#saathi-img{
	width:75%;
}

#saathi-img1{
	width:85%
}

#saathi-img3{
	width:60%;
}


/* for mobile devices */
@media screen and (max-width:600px){
	nav a{
	display:inline-block;
	text-transform: lowercase;
	text-decoration:none;
	color:#443e3c;
	line-height:0.5em;
	
	font-size:1.25em;
	padding:1%;
	
	transition:.5s color;
	

 }
nav{
	width:100vw;
	overflow:auto;
	background-image:linear-gradient(to bottom,#eeeceb,rgba(184,184,184,0.6));
	height:5.0%;
	border-radius:2.5px;
	position: absolute;
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items:center;
	flex-wrap:wrap;

 }
h2{
	padding-top:12%;
 }
main,.about-me,.music,.projects,.contact-info,.vacant,#sunset,#workexp{
	padding-left:0;
 }
.vacant{
	padding:none;
	width:100%
 }
h2,h3,h4{
	text-align:center;
 }

p{
	padding:2%;
	
 }

 #xdprototype{
 	margin-left:0;
 }

.site-footer{
	display:none;
 }


}

/* end */



